*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: #d0d4d5;
}
.nav{
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.nav img{
    width: auto;
    height: 80px;
    margin-right: 60px;
    cursor: pointer;

}
.nav-1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-1 ul li{
    margin-right: 40px;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
.nav-2 i{
    margin-right: 40px;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
}
.content{
    height: calc(100% - 110px);
    width: 100%;
    position: relative;
    display: flex;
}
.content-left{
    height: 100%;
    width: 40%;
    padding: 80px 100px;
}
 .content-left h5{
    font-size: 20px;
    color: #555;
    text-transform: capitalize;
    margin-bottom: 10px;
 }
 .content-left h1{
    font-size: 55px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px;
 }
 .content-left p{
    font-size: 20px;
    color: #000;
    margin-bottom: 30px;
    width: 80%;
 }
 .btn{
    color: white;
    background-color: #000;
    font-size: 15px;
    padding: 12px 40px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    border-top-left-radius: 0;
 }
 .content-right{
    height: 100%;
    width: 60%;
    padding: 110px 100px;
    white-space: nowrap;
    overflow-x: auto;
    border-radius: 10px;
 }
 .content-right::-webkit-scrollbar{
    display: none;
 }
 .product{
    height: 370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    box-shadow: 0 5px 10px rgba(17 , 0, 17, 0.3);
    display: inline-block;
    margin-right: 20px;
    border-radius: 10px;
   
 }

 .product img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
 }
 .product h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 28%;
 }
 .category{
    position: absolute;
    font-weight: 500;
    bottom: 20%;
    text-transform: capitalize;

 }
 .color{
    position: absolute;
    font-weight: 500;
    bottom: 15%;
    text-transform: capitalize;
 }
 .price{
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    bottom: 7%;
    text-transform: capitalize;

 }

